<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment status:</strong>
  <%= @equipment_status.equipment_status %>
</p>

<%= link_to 'Edit', edit_equipment_status_path(@equipment_status) %> |
<%= link_to 'Back', equipment_statuses_path %>
